*{
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navigation ul li{
    list-style-type: none;
    cursor: pointer;
}

.navigation select{
    border: none;
    outline: none;
}